<!--include header-->
<%- include('include/header') %> 
<!--/include header-->

    <!--Main Site-->
        <main id="site-main">
            <div class="container">
                <div class="filter">
                    <a href="/"><i class="fa-solid fa-angles-left"></i> All List</a>
                </div>

                <!--include form-->
                <%- include('include/form') %> 
                <!--/include form-->

            </div>
        </main>
    <!--/Main Site-->
